<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.watermanagementsystem">

    <uses-permission android:name="android.permission.INTERNET"
/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ConnectedReservoirs"></activity>
        <activity android:name=".MumbaiIndividualReservoirs"
            android:parentActivityName=".IndividualRegions"
            />
        <activity android:name=".ConnectedRegions" />
        <activity android:name=".IndividualRegions"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".WaterLevelActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>